	  @import url('kunlasatri.css');
      @import url('ios7-style-font-icons.min.css'); 
      body {
			background: none repeat scroll 0 0 #AAAAAA;
			margin: 0px;
			 font-family: lane;
		}

	   .left{
			float:left;
			position:relative;	
			/*background-color: red;*/
			top:0;
			left:0;
			height:50%;
			width:60%;
	   }


	   .right {
			float:left;
			position:relative;
			display:inline-block;
	    /*   background-color: blue; */
			top:0;
			right:0;
			height:50%;
			over-flow:hidden;
			width:25%;
			
	   }
	  
	   .bottom{
			position:relative;
			height:50%;
	 		/* background-color: yellow;  */
	  }
	   
	 .img{
		/* background-image:url('../images/blur2.png'); */ 
		/*background-image:url('../images/freeway.jpg');  */
		background-image:url('../images/natureb.jpg'); 
		background-size: 100% 100%;
		repeat:none;
	 }
	.shadow{
		-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
		-webkit-box-shadow:  5px 5px 5px rgba(68,68,68,0.6);
		box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	}
   .title-h1 {
    font-family: lato;
    font-size: 40px;
    font-weight: 400;
    line-height: 42px;
    }
  	.login-table{
		 border:0px solid #ffffff;
	 	 color:#ffffff;
	}
	.login-box{
	    background: none repeat scroll 0 0 #000000;
		border: 1px solid #222222;
		margin: 12px 0 0;
		padding: 20px 25px 15px;
		width: 340px;
		color:#ffffff;
	    -moz-border-radius: 2px;
	    border-radius: 2px;
	    opacity: 0.7; 
		overflow:hidden;
	}
	button, input, select, textarea {
		font-family: inherit;
		font-size: inherit;
	}
	 .button-submit {
		background-color: #4D90FE;
		background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
		border: 1px solid #3079ED;
		color: #FFFFFF;
		text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    }
   .button-cancel {
        background-color: #E2E2E2;
        background: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1) repeat scroll 0 0 rgba(0, 0, 0, 0);
		border: 1px solid #E2E2E2;
		color: #444444;
		text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    }

	.titleFont{
	   
		font-size:60px;
		text-rendering: optimizeSpeed;
		 font-weight:100;
		 letter-spacing:-1px;
		 color: #ffffff;
		 opacity: 0.5;
	}
	.subTitleFont{
		font-size: 16px;
		text-rendering: optimizeSpeed;
		 font-weight:400;
		 text-align:right;
		  padding-right: 10px;
		 color: #ffffff;
	    opacity: 0.5;
	}
	.lside{
	  font-size: 16px;
		text-rendering: optimizeSpeed;
		 font-weight:400;
		 text-align:left;
		  padding-left: -4px;
		 color: #ffffff;
	     opacity: 0.7;
	}
	.pipe{
	  border-left:1px solid #E2E2E2;
	  padding-left:4px;
	}

 /*
	input:focus{
		outline: none;
		box-shadow: 0px 0px 5px #E2E2E2;
		border:1px solid #E2E2E2;
	}

	input:hover {
		outline: none;
		box-shadow: 0px 0px 5px #E2E2E2;
		border: 0px solid #999;

	}

	input:focus:hover{
		outline: none;
		box-shadow: 0px 0px 5px #E2E2E2;
		border:0px solid #E2E2E2;
	  
	}
	*/
	.d{    
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-image: none;
    border-radius: 1px 1px 1px 1px;
	font-size:15px;

    border-style: solid;
    border-width: 0px;
    display: inline-block;
    height: 29px;
    margin: 0;
    padding: 0 8px;
	}

 .clock{
 	font-size: 100px;
		text-rendering: optimizeSpeed;
		 font-weight:400;
		 text-align:right;
		 color: #ffffff;
	    opacity: 0.8;
 letter-spacing: -2px;
 	top: -100px;
 }
 .dow{
    text-align:right;
 	font-size: 50px;
		text-rendering: optimizeSpeed;
		 font-weight:400;
		 text-align:right;
		  padding-right: 10px;
		 color: #ffffff;
	 
 }
 .date{
     text-align:right;
 	font-size: 22px;
		text-rendering: optimizeSpeed;
		 font-weight:400;
		 text-align:right;
		  padding-right: 10px;
		 color: #ffffff;
		padding-right: 10px;
 
 }
 .icon-circle2{
		border-radius:50%;
		border :2px solid #fff;
		background-color:rgba(255,255,255,0.5);
		padding: 5px;
		color:#fff;
		position:relative;
		width:45px;
		height:45px;
}
 
